.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.7), rgba(0,0,0,0.2) 50%), url(../../images/resto.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}
.banner h1 {
	font-size: 55px;
}
.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin: 5px;
}
.banner #h2-margin {
	margin-bottom: 40px;
}